{
	debug
}

http://localhost:9111 {
	ai_auth_env

	ai_router {
		provider openai {
            api_base_url "https://api.openai.com/v1"
			style "responses"
        }

		provider openrouter {
			api_base_url "https://openrouter.ai/api/v1"
		}

		provider alias {
			style "virtual"
			model "fancy-model-name" "openai/gpt-4.1-mini"
		}
	}

	handle_path /v1/models {
		route {
			# CORS
			header Access-Control-Allow-Origin "*"
			header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
			header Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With, X-CSRF-Token, *"
			@options method OPTIONS
			respond @options 204

			ai_list_models {
				router default
			}
		}
	}

	handle_path /v1/chat/completions* {
		route {
			header Access-Control-Allow-Origin "*"
			header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
			header Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With, X-CSRF-Token, *"
			@options method OPTIONS
			respond @options 204

			ai_chat_completions {
				router default
			}
		}
	}
	
	handle_path /health {
		respond "OK"
	}

	handle_path /* {
		respond "Not Found" 404
	}
}
