http://localhost:9111 {
	log {
		output stderr
		level DEBUG
	}

	ai_auth_env {
		name default
	}

	ai_router {
		name default
		auth default

		provider openrouter {
			api_base_url "https://openrouter.ai/api/v1"
		}

		provider cf {
			api_base_url "https://api.cloudflare.com/client/v4/accounts/123456789abc/ai"
			style "cf"
		}
	}

	handle_path /v1/models {
		route {
			# CORS
			header Access-Control-Allow-Origin "*"
			header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
			header Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With, X-CSRF-Token, *"
			@options method OPTIONS
			respond @options 204

			ai_list_models {
				router default
			}
		}
	}

	handle_path /v1/chat/completions* {
		route {
			header Access-Control-Allow-Origin "*"
			header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
			header Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With, X-CSRF-Token, *"
			@options method OPTIONS
			respond @options 204

			ai_openai_chat_completions {
				router default
			}
		}
	}

	handle_path /v1/responses* {
		route {
			header Access-Control-Allow-Origin "*"
			header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
			header Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With, X-CSRF-Token, *"
			@options method OPTIONS
			respond @options 204

			ai_openai_responses {
				router default
			}
		}
	}

	handle_path /v1/messages* {
		route {
			header Access-Control-Allow-Origin "*"
			header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
			header Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With, X-CSRF-Token, *"
			@options method OPTIONS
			respond @options 204

			ai_anthropic_messages {
				router default
			}
		}
	}
	
	handle_path /health {
		respond "OK"
	}

	handle_path /* {
		respond "Not Found" 404
	}
}
